@import "../../../globalStyles/scss/variables.scss";

.home-page {
  &__hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__categories {
    margin-bottom: 2rem;
    margin-right: 1rem;
    border: 1px solid $gray;
    background: $white;
    border-top: none;

    h3 {
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      margin-bottom: 1rem;
    }

    &__list {
      width: 300px;

      li{
        overflow: hidden;
        border-bottom: 1px solid $gray-dark;

        &:last-child{
          border-bottom: none;
        }
      }

      @media (min-width: $small-screen) {

      }

      a {
        text-decoration: none;
        color: $base-font-color;
        padding: 0.6rem 1rem;
        display: block;
        text-transform: capitalize;

        &:hover{
          background: $gray-light;
        }

        h3 {
          text-transform: uppercase;
          font-weight: $bold-font-weight;

          &:after {
            content: url("../../../images/carousel-arrow.svg");
            display: inline-block;
            transform: rotate(180deg);
            margin-left: 1rem;
          }
        }
      }

      &__image {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 1rem;

        &--no-photo {
          background-color: $turquoise-light;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .title-offer{
    display: flex;
    flex-direction: row;

    .container{
      z-index: 2;
      position: relative;
    }
  }
}
